<%- include('templates/headerAfterLogin') %>

<style>
  .btn {
    margin-right: 10px;
  }

  .card-header h5 {
    margin: 0;
  }

  .container-fluid {
    padding-top: 5px;
    padding-bottom: 70px;
    z-index: -1;
  }
</style>

<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-3 text-center mb-4">
      <img src='/img/mainlogo.png' alt="Logo" class="img-fluid" style="max-width: 130px; height: auto;">
      <h1 class="hello">Welcome, <%= name %>!</h1>
      <h4 class="capping">Let's get capping!</h4>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <% if (typeof message !== 'undefined' || typeof devicesLink !== 'undefined') { %>
        <div class="card mb-3">
          <img id='addDevice' src="/img/addDevice.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text"><%= message %></p>
            <p class="card-text"><small class="text-muted">
              <a href="<%= devicesLink %>">Add Devices</a>
            </small></p>
          </div>
        </div>
      <% } else { %>
        <!-- Summary -->
        <div class="card text-center border">
          <h5 class="card-header">Summary</h5>
          <div class="card-body">
            <div id="chart_div">
              <input type="hidden" id="totalKwh" value="<%= totalKwh %>">
            </div>
            <br>
            <div id="costs_chart_div"></div>
            <br>
            <input type="hidden" id="totalCost" value="<%= totalCost.toFixed(2) %>">
            <br>
            <div id="savings_message_container">
              <img src="/img/icons/lightbulb.png" alt="Lightbulb Icon" width="40" height="40">
              <span id="savings_message"></span>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <!-- Cap of the day -->
    <div class="col-12 col-md-3 mb-4">
      <div class="card">
        <h5 class="card-header">CAP OF THE DAY</h5>
        <div class="card-body">
          <p id="factText" class="card-text"></p>
          <p id="factSource" class="text-sm text-green font-bold mt-1"></p>
          <div class="d-flex justify-content-between mt-2">
            <button id="moreFacts" class="btn btn-success">More facts</button>
            <button id="readMore" class="btn btn-success">Read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElR16o87II1Y6n0Z8e3c8638oa32310bF7h+t25t3v6e0uztq6/PXF3g82w863P2r212+r68n37568432655" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  // Fetch facts from the JSON file called facts.json
  fetch('../json/facts.json')
    .then(response => response.json())
    .then(data => {
      const facts = data.facts;

      function getRandomFact() {
        const randomNumber = Math.floor(Math.random() * facts.length);
        const randomFact = facts[randomNumber];
        document.getElementById('factText').innerText = randomFact.fact;
        document.getElementById('factSource').innerText = randomFact.source;
      }

      // This is the new initial fact when the user loads the page
      getRandomFact();

      // Click "More facts" button click to generate a new random fact.
      document.getElementById('moreFacts').addEventListener('click', getRandomFact);
    })
    .catch(error => console.error('Error fetching facts:', error));
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/usage.js"></script>
<script src="/js/costs.js"></script>

<!-- Template should be after login -->
<%- include('templates/footerAfterLogin') %>