<%- include('templates/headerAfterLogin') %>
<!--
  Main page EJS.
  Author: Brian Diep, Anna Dao
  Description: Main page after login. Displays summary/instruction section and CAP OF THE DAY and easter egg.
-->

<!-- Styling  -->
<style>
  .btn {
    margin-right: 10px;
  }

  .card-header h5 {
    margin: 0;
  }

  .container-fluid {
    padding-top: 5px;
    padding-bottom: 70px;
    z-index: -1;
  }
</style>
<!-- Main container -->
<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center">
    <!-- Welcome message -->
    <div class="col-12 col-md-3 text-center mb-4">
      <img src='/img/mainlogo.png' alt="Logo" class="img-fluid" style="max-width: 130px; height: auto;">
      <h1 class="hello">Welcome, <%= name %>!</h1>
      <h4 class="capping">Let's get capping!</h4>
    </div>
    <!-- Summary / instructions -->
    <div class="col-12 col-md-6 mb-4">
      <!-- Instructions for no devices -->
      <% if (typeof message !== 'undefined' || typeof devicesLink !== 'undefined') { %>
        <div class="card mb-3">
          <img src="/img/AddDevice.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= message %></h5>
            <p class="card-text">To track your carbon footprint, we'll need access to your device information. Just click below to set up your device and leave the rest to us!</p>
            <p class="card-text"><small class="text-muted">
              <a href="<%= devicesLink %>">Setup your devices</a>
            </small>
          </p>
        </div>
      </div>
      <% } else { %>
      <!-- Summary for devices -->
      <div class="card text-center border">
        <h5 class="card-header">Summary</h5>
        <div class="card-body">
          <div id="chart_div">
            <input type="hidden" id="totalKwh" value="<%= totalKwh %>">
          </div>
          <br>
          <div id="costs_chart_div"></div>
          <br>
          <input type="hidden" id="totalCost" value="<%= totalCost.toFixed(2) %>">
          <br>
          <div id="savings_message_container">
            <img src="/img/icons/lightbulb.png" alt="Lightbulb Icon" width="40" height="40">
            <span id="savings_message"></span>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <!-- Cap of the day -->
    <div class="col-12 col-md-3 mb-4">
      <div class="card">
        <h5 class="card-header">CAP OF THE DAY</h5>
        <div class="card-body">
          <p id="factText" class="card-text"></p>
          <p id="factSource" class="text-sm text-green font-bold mt-1"></p>
          <p id="factImage" class="card-text"></p>
          <div class="d-flex justify-content-between mt-2">
            <button id="moreFacts" class="btn btn-success">More facts</button>
            <img id="easter" src="../img/transparentcap.png" style="display: none; width: 50px; height: auto;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="/js/main.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/usage.js"></script>
<script src="/js/costs.js"></script>

<!-- Footer afer login -->
<%- include('templates/footerAfterLogin') %>