<%- include('templates/headerAfterLogin') %>
<style>
  .container-fluid {
    padding-bottom: 40px; 
  }

  #back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
</style>
<!-- Bootstrap template with adjustments -->

<div class="container-fluid">
  <a id="back-button" href="/main" class="btn btn-success mb-3"><</a>
  <h1 class="text-center">User Profile</h1>
  <div class="container-fluid">
    <div class="row gutters">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="account-settings">
              <div class="user-profile text-center mx-auto">
                <div class="user-avatar">
                  <img src='/img/edit-user-icon.png' alt="Logo" width="130" height="120">
                </div>
                  <h5 class="user-id">User ID: <%= userid %></h5>
                  <h5 class="user-name">Name: <%= name %></h5>
                  <h5 class="user-email">Email: <%= email %></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="mb-2 text-success">Personal Details</h6>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="userid">User ID</label>
                    <input type="email" class="form-control" id="userid" placeholder="Enter user ID" value="<%= userid %>">
                  </div>
                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="fullName" placeholder="Enter full name" value="<%= name %>">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="eMail">Email</label>
                  <input type="email" class="form-control" id="eMail" placeholder="Enter your email" value="<%= email %>">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="changePW">Current Password</label>
                  <input type="text" class="form-control" id="phone" placeholder="Enter current password">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                <div class="form-group">
                  <label for="newPW">New Password</label>
                  <input type="url" class="form-control" id="website" placeholder="Enter new password">
                </div>
              </div>
            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">
                  <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                  <button type="button" id="submit" name="submit" class="btn btn-success">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('templates/footerAfterLogin') %>